<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Panel administratora</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <style>
    .time { color: white; }
  </style>
  <h1>Panel administratora</h1>
  <p>W akcjach pole służy do dodawania więcej lub mniej czasu niż w tabeli (w minutach, działa na raz)</p>

  <form id="activity-form">
    <input type="text" name="name" placeholder="Nazwa" required />
    <input type="number" name="price" placeholder="Cena (zł)" required />
    <input type="number" name="cycle" placeholder="Czas trwania (min)" required />
    <button type="submit">Zapisz</button> <= odpowiada za tabelke z dietami itp
  </form>

  <table>
    <thead>
      <tr><th>Nazwa</th><th>Cena (zł)</th><th>Czas (min)</th><th>Pozostało</th><th>Akcje</th></tr>
    </thead>
    <tbody id="activity-list"></tbody>
  </table>
  <br>
<form id="offers-form">
    <input type="text" name="name" placeholder="Nazwa" required />
    <input type="text" name="price" placeholder="Cena (zł)" required>
    <button type="submit">Zapisz</button> Odpowiada za Tabele z Cennikiem dla cweli
</form>
  <table>
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena (zł)</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody id="offers-list"></tbody>
  </table>

  <script src="/socket.io/socket.io.js"></script>
  <script src="client_utils.js" type="module"></script>
  <script src="admin.js" type="module"></script>
</body>
</html>
