<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Czasomierz usług</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Tutaj Znajdziesz najważniejsze linki!!</h1>
  <button><a href="sociale.html" target="_blank">1231313</a></button>
  <h1>Czasomierz usług</h1>

  <h2>Aktywne czynności</h2>
  <div class="grid">
    <div class="tabela">
      <h2>Cennik</h2>
      <table id="activities">
        <thead>
          <tr>
            <th>Tortury</th>
            <th>Cena</th>
            <th>Czas trwania</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tabela">
      <h2>Możliwość kupienia Dla widza</h2>
      <table id="offers">
        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Cena</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="client_utils.js" type="module"></script>
  <script src="script.js" type="module"></script>
</body>
</html>
