<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
    <link rel="stylesheet" href="style.css">
  <style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000; /* Czarne tło */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  </style>
</head>
<body>

  <form class="login-form" method="POST" action="/login">
    <h2>Zaloguj się</h2>
    
    <label for="nick">Nick:</label>
    <input type="text" id="nick" name="nick" required>

    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Zaloguj</button>
  </form>

</body>
</html>
